    <div class="text-center align-center">
      <div class="jumbotron-hero jumbotron-fluid">
        <br><br><br><br><br><br><br><br>
        <h1 class="display-4 font-weight-bold" style="font-family: 'Roboto', sans-serif;">Un petit "Hacking cercle" qui s'aggrandira avec vous et nous</h1>
        <h4 class="display-6" style="font-family: 'Montserrat', sans-serif;">Apprenez les nouvelles technologies qui vous tentent!</h4>
        <button class="btn btn-info" role="button" style="font-family: 'Montserrat', sans-serif;"><a href="/contact">Je contacte l'équipe</a></button>
        <button class="btn btn-info" role="button" style="font-family: 'Montserrat', sans-serif;" disabled><a href="/">Je découvre les potins</a></button>
      </div>
    </div>

    <div class="container-fluid mb-4">
      <div class="col-lg-1110">
        <h2 class="text-info text-center" style="font-family: 'Montserrat', sans-serif;">Jetez un oeil à ce que nous avons appris et que vous pourriez <strong>vous aussi</strong> apprendre !</h2>
      </div>
      <div class="row justify-content-center row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-5">
        <div class="card border-info mb-4" style="max-width: 20rem;">
          <h4 class="card-title text-center"><%= image_tag('images/Faty60.png') %></h4>
          <div class="card-body text-center">
            <p class="card-text" style="font-family: 'Montserrat', sans-serif;">
              Vous n'avez pas une mémoire d'éléphant, mais vous adorez apprendre?<br>Fatou aussi !
	    </p>
            <button role="button" class="btn-info btn-primary btn-lg" style="font-family: 'Montserrat', sans-serif;"><a href="https://github.com/Faty60">Ses sujets d'étude</a></button>
          </div>
        </div>
        <div class="card border-info mb-4" style="max-width: 20rem;">
          <h4 class="card-title text-center"><%= image_tag('images/HELENE-AUERBACH.png') %></h4>
          <div class="card-body text-center">
            <p class="card-text" style="font-family: 'Montserrat', sans-serif;">
	      Vous êtes tout aussi curieux que lorsque vous étiez enfant?<br>Hélène n'a jamais cessé de (se) poser des questions !
	    </p>
            <button role="button" class="btn-info btn-primary btn-lg" style="font-family: 'Montserrat', sans-serif;"><a href="https://github.com/HELENE-AUERBACH">Ses interrogations</a></button>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3 text-muted">&copy; Bootstrap, et Hatching Hacking Cercle</small>
          </div>
        </div>
      </footer>
    </div>
